RUST_LOG=info
DATABASE_PORT=5432
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=password
DATABASE_URL=postgresql://${DATABASE_USERNAME}:${DATABASE_PASSWORD}@127.0.0.1:${DATABASE_PORT}/database
PGADMIN_PORT=5050
SMTP_ADDRESS=127.0.0.1
SMTP_PORT=1025
SMTP_USERNAME=
SMTP_PASSWORD=
MAILPIT_PORT=8025
APP_PORT=8080
APP_SESSION_EXPIRY=0
CAPACITOR_URL=http://10.0.2.2:${APP_PORT}
